.audio-player {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint('medium') {
    flex-wrap: nowrap;
  }

  .audio-control i {
    @include fontSize(20px);
  }

  .audio-control {
    border: none;
    padding: 0;
    background-color: transparent;

    @include breakpoint('medium') {
      order: -1;
      -webkit-box-ordinal-group: -1;
    }
  }

  .left,
  .right {
    white-space: nowrap;
  }

  .status,
  .duration {
    @extend %labelsmall;
  }

  .status {
    margin: 0 25px 0 0;
  }

  .duration {
    margin: 0 0 0 25px;
  }

  .progress-bar {
    position: relative;
    background-color: #b3b3b3;
    width: 100%;
    height: 8px;
    margin-bottom: 8px;

    @include breakpoint('medium') {
      width: calc(100% - 225px);
      height: 4px;
      margin-bottom: 0;
    }
  }

  .progress-bar .progress {
    height: 8px;
    position: absolute;
    background-color: black;

    @include breakpoint('medium') {
      height: 4px;
    }
  }

  i,
  .progress-bar {
    cursor: pointer;
  }

  i:hover {
    color: $yellow;
  }

  [class^='icon-']:before,
  [class*=' icon-']:before {
    width: unset;
  }
}
