<div class="fullWidthFeatureContent">
  <div id="boeing-scroll">
    <div id="boeing-intro">
    Scroll down to learn more about how the Boeing 787 is made!
      <!-- <div class="intro-arrow">
        <i class="icon-angle-right"></i>
      </div> -->
    </div>
    <div id="boeing-svg">
    {% include_relative custom-viz/boeing/plane-svg.html %}
    {% include_relative custom-viz/boeing/map-svg.html %}
    </div>
    <div id="boeing-buffer"></div>
    <div id="boeing-text">
      {% include_relative custom-viz/boeing/scroll-text.html %}
    </div>
  </div>
</div>
