/*==============================
=         Text Styles          =
==============================*/

#boeing {
  &-scroll {
    width: 100vw;
    height: 70vh;
    position: sticky;

    @include breakpoint('medium') {
      height: 100vh;
      margin-right: 4rem;
    }
  }

  &-svg {
    max-height: 40vh;
    position: sticky;
    top: 0;
    left: 10;

    @include breakpoint('medium') {
      position: absolute;
      left: 20;
    }

    @include breakpoint('large') {
      position: absolute;
      left: 20;
    }
  }

  &-text {
    position: block;
    overflow: scroll;
    height: 30vh;
    bottom: 0;
    z-index: 10;
    text-align: left;

    @include breakpoint('small') {
      top: 0;
      left: 0;
      // position: relative;
    }

    @include breakpoint('medium') {
      bottom: 0;
      // position: relative;
    }

    @include breakpoint('large') {
      float: left;
      max-width: 300px;
      overflow: scroll;
      z-index: 20;
    }
  }

  &-intro {

    &-text {
      padding: 2rem;
    }

    @include breakpoint('medium') {
      // background-color: blue;
    }
  }
}

.part {
  background-color: #eae134;
  margin: 0.1rem;
}

/*==============================
=      SVG wrappers            =
==============================*/

#plane-wrapper {
  width: 100vw;
  position: sticky;
  top: 0;

  svg {
    display: inline-block;
    top: 5;
    left: 5;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

#map-wrapper {
  display: none;
}

/*==============================
=          SVG styles          =
==============================*/

#plane-svg {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: 1rem;

  #Labels {
    display: none;
  }
}

#map-svg {
  display: none;
}

/*==============================
=       Text base styles       =
==============================*/

.scroll-text {
  overflow: scroll;
  display: none;
  margin: 0 5rem;
}
