/*==============================
=         Text Styles          =
==============================*/

#boeing {
  &-scroll {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;

    @include breakpoint('medium') {
      height: 80vh;
      // margin-right: 4rem;
    }

    @include breakpoint('large') {
      height: 100vh;
      // margin-right: 4rem;
    }
  }

  &-svg {
    position: sticky;
    top: 10%;
    right: 10%;
    height: 50%;
    z-index: 30;

    @include breakpoint('medium') {
      position: absolute;
      right: 15%;
    }

    @include breakpoint('large') {
      position: absolute;
      right: 4%;
    }
  }

  &-text {
    position: absolute;
    max-height: 100%;
    overflow: scroll;
    bottom: 0;
    text-align: left;

    @include breakpoint('medium') {
      position: absolute;
      margin-top: 0;
    }

    @include breakpoint('large') {
      position: absolute;
      max-width: 300px;
    }

    .scroll-buffer::before {
      content:''
      width: 100%;
      height: 100%;
    }

    .scroll-text {
      position: relative;
      overflow: scroll;
      padding: 8rem 4rem;
      z-index: 1;
      // top: 0;
      // border: 1px #000 solid;

      @include breakpoint('small') {
        margin: 0 5rem;
      }

      @include breakpoint('large') {
        margin: 0;

      }
    }
  }

  &-intro {
    &-text {
      padding: 2rem;
    }

    @include breakpoint('medium') {
      // background-color: blue;
    }
  }
}

.part {
  background-color: $yellow;
  margin: 0.1rem;

  &:hover {
    background-color: $dark-yellow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}

/*==============================
=      SVG wrappers            =
==============================*/

#plane-wrapper {
  width: 100vw;

  svg {
    display: inline-block;
    top: 5;
    left: 5;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

#map-wrapper {
  display: none;
}

/*==============================
=          SVG styles          =
==============================*/

#plane-svg {
  z-index: 30;

  line {
    display: none;
  }

  ellipse {
    display: none;
  }

  .part-labels {
    display: none;

  }
}

#map-svg {
  display: none;
}

/*==============================
=       Text base styles       =
==============================*/
