/*==============================
=          Animations          =
==============================*/

@keyframes wobble {
  33% {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(50px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

/*==============================
=         Text Styles          =
==============================*/

.scroll-wrapper {
  width: 100vw;
  height: 100vh;
}

.scroll-text {
  padding: 2rem;
}

.part {
  background-color: #eae134;
  margin: 0.1rem;
}

.place {
  border: 3px dashed #eae134;
}

/*==============================
=             SVG              =
==============================*/

#plane {
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right:-50vw;

  line {
    stroke-dasharray: 100;
    animation: dash 5s linear infinite;
  }

  #Labels {
    display: none;
  }
}

#map {
  position: relative;
  width: 100vw;
  height: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right:-50vw;

  line {
    strke-dasharray: 100;
    animation: dash 5s linear infinite;
  }
}

/*==============================
=            Effects           =
==============================*/

.full-screen {
  width: 100vw;
  height: 100vh;
}

.sticky {
  position: fixed;
  x: 0;
  y: 0;
}
