/*==============================
=          Animations          =
==============================*/

@keyframes wobble {
  33% {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(50px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

/*==============================
=            Classes           =
==============================*/

.full-screen {
  width: 100vw;
  height: 100vh;
}

.full-opacity {
  opacity: 1;
  animation: dash 5s linear forwards;
}

.sticky-top {
  position: sticky;
  top: 5;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.visible {
  display: inline-block;
}

.hidden {
  display: hidden;
}
